body {
    font-family: "Lato Light", Lato, sans-serif;
    margin: 0;
    color: #333333;
}

h1 {
    font-weight: lighter;
    font-size: 2.5em;
    text-align: center;
    margin: auto 0;

}

h4 {
    text-align: center;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #5a9edb;
}

hr {
    width: 40%;
}

/*NavBar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*border-left: 2px dashed grey;
    border-right: 2px dashed grey;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*Home*/
#home {
    background: url("assets/img/header_bg2.jpg") no-repeat center;
    background-size: contain;
    min-height: 500px;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px #fff;
    border-bottom: 1px groove;
    border-top: 1px groove transparent;
}

div.hometext {
    text-align: center;
    position: relative;
    top: 180px;
}

/*aboutthings*/
#about {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    max-width: 50em;
    width: 90%;
}

#about p {
    margin: 0;
    padding: 25px 0 10px 0;
}

.aboutsection {
    color: white;
    padding: 60px 0 60px 0;
    text-shadow: 1px 1px 2px #000;
}

.aboutsection p {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    max-width: 80%;
}

.designer {
    background-image: url("assets/img/bg/divider12.png");
}

.coder {
    background-image: url("assets/img/bg/divider22.jpg");
}

/*Skills-Section*/

.skills {
    color: black;
    text-shadow: none;
    background-color: #ededed;
}

.barchart {
    margin: 2em auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 25em;
    width: 80%;
    align-items: flex-end;
    max-width: 60em;
}

.barchart div {
    font-size: 1.5em;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.4);
}

.barchart div div:last-child {
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    max-width: 10em;
    min-width: 5em;
}

.html.skill {
    background: #60b2a9;
    background: linear-gradient(#afdad5, #5fb2a8);
    border: 1px solid #60b2a9;
    height: 95%;
}

.css.skill {
    background: #e1af9f;
    background: linear-gradient(#f4dcd6, #e1af9f);
    border: 1px solid #e1af9f;
    height: 80%;
}

.javas.skill {
    background: #e7af30;
    background: linear-gradient(#ffd165, #dfae36);
    border: 1px solid #e7af30;
    height: 90%;
}

.wordpress.skill {
    background: #bc8e5b;
    background: linear-gradient(#dcba83, #bc8e5b);
    border: 1px solid #bc8e5b;
    height: 80%;
}

/*Portfolio*/
#portfolio {
    border-bottom: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
    padding-bottom: 50px;
}

.categories {
    margin: 0 auto;
    max-width: 60em;
    display: flex;
    justify-content: space-around;
}

.categories > div {
    width: 20em;
    color: white;
    text-align: center;
    margin: 2% 5%;
    padding: 1px 15px;
    background-color: #808080;
}

.categories > div:hover {
    background-color: lightgreen;
}

.categories p {
    margin: 10px auto;
}

.portfigures {
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfigures > div {
    text-align: center;
    margin: 0 auto;
}

figure {
    display: flex;
    flex-direction: column;
}

figure img {
    width: 14em;
}

figcaption {
    background: #1299c5;
    color: white;
    opacity: 1;
    padding: 0.5em;
    width: 13em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

figcaption h5, a {
    margin: 0;
}

figcaption a {
    text-decoration: none;
    background: #1b1b1b;
    color: white;
    padding: 5px;
    font-size: 0.85em;
}

/*Blog*/

#blog {
    background: #f5f5f5;
}

.postcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatardiv {
    white-space: nowrap;
    text-align: center;
    font-weight: lighter;
    background: #2b2b2b;
    color: white;
    display: flex;
    flex-direction: column;

}

.avatardiv p, h4, h5 {
     padding: 0 1em;
     font-weight: lighter;
 }

.mini.post {
    min-width: 10em;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mini.post > div {
    white-space: nowrap;
    padding: 10px;
    margin: 0.5em;
    background-color: #2b2b2b;
    color: white;
}

.mini.post div p:nth-child(2) {
    font-size: 0.75em;
}

.post {
    background: white;
    display: flex;
    vertical-align: top
}

.post div {
    padding: 10px;
}

/*Adress-Sectiom*/

.address {
    text-shadow: 1px 1px 2px #111;
    text-align: center;
    color: white;
    min-height: 500px;
    background: url("assets/img/bg/divider661.jpg") no-repeat left center;
    background-size: cover;
}

.address p {
    font-size: 2em;
}

.address h1 {
    padding-top: 3em;
}

/*Contact-Section*/

.contactsection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.contactsection > div {
    width: 30%;
}

.contactsection form div {
    margin: 15px 0;
}

/*Credit-Section*/
#credits {
    padding: 60px 0 60px 0;
    background: #2b2b2b;
    color: white;
}


@media (max-width: 800pt) {
    .postcontainer {
        flex-direction: column;
    }

    .contactsection {
        flex-direction: column;
    }

    .contactsection > div {
        width: 100%;
    }

    .mini.post {
        flex-direction: row;
        justify-content: space-between;
    }

    .mini.post div {
        margin: 5px 5px;
        min-width: 30%;
        min-height: 10em;
    }
}

@media (max-width: 400pt) {
    .post {
        flex-direction: column;
    }

    .avatardiv {
        flex-direction: row;
    }

    .avatardiv p, h4, h5 {
        margin: auto;
    }
}